@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Calendar";
}
@section body{
    <style>
        body
        {
            background-color:#eee;
        }
    </style>
    <div style="height:600px;width:900px;margin:0px auto">
        <br />
        <br />
        <br />
        @Html.Raw(Model.Render())
    </div>
}
