@{
    Layout = null;
}

<!-- TODO Could use some cleanup -->
<pre>
<font color=black>

Anon1387 : Hello?
You : Hi
Anon1387 : Where do you live?
You : Mommy told me not to tell strangers, bye.
</font>

</pre>
<form>
    <input class="text" type="text"><input class="enter" type="submit" value="Send">
</form>
