@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>PortalFace</title>
        @Styles.Render("~/Content/PortalFace/style.css")
        @Styles.Render("~/Content/PortalFace/fbfont.css")
</head>
<body>
    
    <div id="head">
        <h1>PortalFace</h1>
    </div>

    <div id="columns">
        
        <ul id="column1" class="column">
            <li class="widget color-blue" >
                <div class="widget-head">
                    <h3>Facebook Actions</h3>
                </div>
                <div class="widget-content">
                    <ul id="fbactions">
                        <li><a href="#">Message Friends</a></li>
                        <li><a href="#">Search Friends</a></li>
                        <li><a href="#">Add Friends</a></li>
                        <li><a href="#">Add Photos</a></li>
                    </ul>
                </div>
            </li>
            <li class="widget color-blue">  
                <div class="widget-head">
                    <h3>News Feed</h3>
                </div>
                <div id="newsfeed" class="widget-content">
                    <img src="/Content/PortalFace/img/newsfeed.jpg"
                </div>
            </li>
            
        </ul>

        <ul id="column2" class="column">
            <li class="widget color-blue">  
                <div class="widget-head">
                    <h3>Post to Facebook</h3>
                </div>
                <div class="widget-content">
                    <form>
                        <input class="text" type="text" name="firstname"><i class="icon-camera"></i><input class="enter" type="submit" value="Post">
                    </form>
                </div>
            </li>
            <li class="widget color-orange">  
                <div class="widget-head">
                    <h3>Stock Watch</h3>
                </div>
                <div id="stocks" class="widget-content">
                    <ul>
                        <li><pre><font color=black>AAPL:US    443.66  +11.16</font></pre></li>
                        <li><pre><font color=black>TSLA:US     35.29   -1.56</font></pre></li>
                        <li><pre><font color=black>GOOG:US    814.30   -7.23</font></pre></li>
                        <li><pre><font color=black>MSFT:US     28.04   -0.1 </font></pre></li>
                        <li><pre><font color=black>  FB:US     26.65   -0.40</font></pre></li>
                    </ul>
                </div>
            </li>
        </ul>
        
        <ul id="column3" class="column">
            <li class="widget color-green">  
                <div class="widget-head">
                    <h3>Schedule</h3>
                </div>
                <div id="events" class="widget-content">
                    <p><i class="icon-calendar"></i>  You have no events, take the day off!</p>
                </div>
            </li>
            <li class="widget color-red">  
                <div class="widget-head">
                    <h3>Global Chat</h3>
                </div>
                <div class="widget-content" id="chat">
 
                </div>
            </li>
            
        </ul>
        
    </div>
    
    
    <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"></script>
    @Scripts.Render("~/Scripts/jquery-ui-personalized-1.6rc2.min.js", "~/Scripts/widget_functionality.js", "~/Scripts/LoadMainContent.js")

</body>
</html>
