@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Landing Page";
}

@section body {

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                //appId: '393153644124938', //Production App ID
                appId: '504444616269557', //Development App ID
                //appId: '519653581405061', //Staging App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // Additional initialization code here
            FB.Event.subscribe('auth.authResponseChange', function (response) {
                if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token 
                    // and signed request each expire
                    var uid = response.authResponse.userID;
                    var accessToken = response.authResponse.accessToken;

                    // Do a post to the server to finish the logon
                    // This is a form post since we don't want to use AJAX
                    var form = document.createElement("form");
                    form.setAttribute("method", 'post');
                    form.setAttribute("action", '/Home/Login');

                    var field = document.createElement("input");
                    field.setAttribute("type", "hidden");
                    field.setAttribute("name", 'accessToken');
                    field.setAttribute("value", accessToken);
                    form.appendChild(field);

                    document.body.appendChild(form);
                    form.submit();

                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook, 
                    // but has not authenticated your app
                } else {
                    // the user isn't logged in to Facebook.
                }
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>

    <div id="landing">
        <h1>Welcome to PortalFace</h1>
        <p>To procede please log in using Facebook below</p>
        <br />
        <br />
        <button class="btn" id="fb-permissions">Log in with Facebook</button>
        <script>
            document.getElementById('fb-permissions').onclick = function () {
                FB.login(
                    function(response) {
                        console.log(response)
                    },
                    { scope: 'publish_stream,user_photos,friends_photos,user_photo_video_tags,friends_photo_video_tags' }
                );
            };
        </script>
    </div>
    
    <script>
        $("#landing").dialog({ autoOpen: true, width: 500, resizable: false });
        $(window).resize(function () {
            $("#landing").dialog("option", "position", "center");
        });
    </script>
  
}
