@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main Page";
}

@section body {
    <script>
        function findAndAddFriend(userName) {
            FB.api({
                method: 'fql.query',
                query: 'SELECT uid FROM user WHERE username=' + userName,
            }, function (response) {
                alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            });
            addFriend(uid);
        }

        function findFriend(username) {
            FB.api({ method: 'friends.get' }, function (response) {
                alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            });
        }

        function messageFriend() {
            FB.ui({
                method: 'send',
                link: 'http://portalface.net/'
                //to: uid,
            }, function (response) {
                //alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            });
        }
        function addPhoto() {
            var uid = FB.getUserID()
            //var imgURL = "http://farm4.staticflickr.com/3332/3451193407_b7f047f4b4_o.jpg";//change with your external photo url

            var imgURL = $("#photoURL").val();

            console.log(imgURL);
            FB.api('/'+uid+'/photos', 'post', {
                message: 'photo description',
                url: imgURL
            }, function (response) {
                if (!response || response.error) {
                    alert('Error occured');
                } else {
                    //alert('Post ID: ' + response.id);
                    $("#photoURL").val("");
                }

            });
        }
        function addFriend() {
            var uid = $("#friendUsername").val();

            // server call
            FB.ui({
                method: 'friends.add',
                id: uid
            }, function (response) {
                //alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            });
        }

    </script>
    
    <script src="http://js.pusher.com/2.0/pusher.min.js"></script>
    <script>
        var pusher = new Pusher('ab3a6a2e93203b02ee34');
        var channel = pusher.subscribe('private-portalface-chat-messages');
        
        channel.bind('client-portalface-chat-messages', function (data) {
            $("#chat").append("" + data.message + "<br/>");
        });

        console.log(channel);
    </script> 

    <div id="columns">
        <ul id="column1" class="column">
            <li class="widget color-red" >
                <div class="widget-head">
                    <h3 class = "widget-titles" ><strong>Facebook Actions</strong></h3>
                </div>
                <div class="widget-content">
                    <!-- <h3>Welcome back @ViewBag.Name</h3> -->
                    <br />
                    <div id="fbactions">
                        <h4 class ="fb_Actions">Message Friends</h4>
                        <div><button onclick="messageFriend()">Open Message Dialog</button></div>
                        <h4 class ="fb_Actions">Add Friends</h4>
                        <div><input type="text" placeholder="Friend's Facebook Id" id="friendUsername" /><button onclick="addFriend()">Add Friend</button></div>
                        <h4 class ="fb_Actions">Add Photo</h4>
                        <div>
                                 <input type="text" id="photoURL" />
                                 <button onclick="addPhoto()">Add Photos</button>
                        </div>
                    </div>
                    <script>
                        $("#fbactions").accordion();
                    </script>
                </div>
            </li>
            <li class="widget color-purple">  
                <div class="widget-head">
                    <h3 class = "widget-titles"><strong>Stock Watch</strong></h3>
                </div>
                <div class="widget-content" id="stocks">

                </div>
            </li>
            
        </ul>

        <ul id="column2" class="column">
            <li class="widget color-blue">  
                <div class="widget-head">
                    <h3 class = "widget-titles"><strong>Post to Facebook</strong></h3>
                </div>
                <div class="widget-content" id="status">

                        
                </div>
            </li>
            <li class="widget color-green">
                <div class="widget-head">
                    <h3 class = "widget-titles"><strong>Timeline</strong></h3>
                </div>
                <div class="widget-content">
                    <!-- List Style specified here because css isnt 
                         behaving across browsers for overwriting things -->
                    <ul id="feed" style="list-style: none;">

                    </ul>

                </div>
            </li>
            
        </ul>
        
        <ul id="column3" class="column">
            <li class="widget color-orange">  
                <div class="widget-head">
                    <h3 class = "widget-titles"><strong>Schedule</strong></h3>
                </div>
                <div class="widget-content">
                    <a class="widget-content-link" href = "../Calendar/Index">
                    <div id="events" >
                        <p>
                        
                            <i class="icon-calendar"></i>  Click Here to view Calendar
                        
                        </p>
                    </div>
                    </a>
                </div>
            </li>
            <li class="widget color-main">  
                <div class="widget-head">
                    <h3 class = "widget-titles"><strong>Global Chat</strong></h3>
                </div>
                <div class="widget-content">
                    <p id="chat">
                        Welcome to the chat!
                    </p>
                    <input type="text" id="chat_Messages" />
                    <button id="chatSend">Send</button>
                    <script>
                        $("#chatSend").click(function () {
                            var Message = $("#chat_Messages").val();
                            console.log(Message);
                            var trigered = channel.trigger('client-portalface-chat-messages', { message: Message });
                            $("#chat").append("" + Message + "<br/>");
                            $("#chat_Messages").val('');
                            console.log(trigered);
                        });
                    </script>
                </div>
                
            </li>
            <li>
                <center> 
                <img src="@Url.Content("~/Content/PortalFace/img/Logo.png")" height="300px" />
                </center>
            </li>
            
        </ul>
        
    </div>
    
    @Scripts.Render("~/Scripts/LoadMainContent.js")
    @Scripts.Render("~/Scripts/widget_functionality.js")

}
