@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main Page";
}

@section body {
    
    <script>
        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));

        window.fbAsyncInit = function () {
            FB.init({
                appId: '393153644124938', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // Additional initialization code here
            FB.Event.subscribe('auth.authResponseChange', function (response) {
                if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token 
                    var uid = response.authResponse.userID;
                    var accessToken = response.authResponse.accessToken;

                    console.log(accessToken);

                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook, 
                    // but has not authenticated your app
                } else {
                    // the user isn't logged in to Facebook.
                }
            });
        };

        function findAndAddFriend(userName) {
            FB.api({
                method: 'fql.query',
                query: 'SELECT uid FROM user WHERE username=' + userName,
            }, function (response) {
                alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            });
            addFriend(uid);
        }

        function findFriend(username) {
            FB.api({ method: 'friends.get' }, function (response) {
                alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            });
        }

        function messageFriend() {
            FB.ui({
                method: 'send',
                link: 'http://portalface.net/'
                //to: uid,
            }, function (response) {
                //alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            });
        }
        function addPhoto() {
            var uid = FB.getUserID()
            //var imgURL = "http://farm4.staticflickr.com/3332/3451193407_b7f047f4b4_o.jpg";//change with your external photo url

            var imgURL = $("#photoURL").val();

            console.log(imgURL);
            FB.api('/'+uid+'/photos', 'post', {
                message: 'photo description',
                url: imgURL
            }, function (response) {
                if (!response || response.error) {
                    alert('Error occured');
                } else {
                    //alert('Post ID: ' + response.id);
                    $("#photoURL").val("");
                }

            });
        }
        function addFriend() {
            var uid = $("#friendUsername").val();
            FB.ui({
                method: 'friends.add',
                id: uid
            }, function (response) {
                //alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            });
        }

    </script>
    
    
    
    @Scripts.Render("~/Scripts/LoadMainContent.js")
    
    
    <div id="columns">
        
        <ul id="column1" class="column">
            <li class="widget color-purple" >
                <div class="widget-head">
                    <h3>Facebook Actions</h3>
                </div>
                <div class="widget-content">
                    <h3>Welcome back @ViewBag.Name</h3>
                    <div id="fbactions">
                        <h4>Search Friends</h4>
                        <div>Friend's Name: <input type="text" /></div>
                        <h4>Message Friends</h4>
                        <div><button onclick="messageFriend()">Open Message Dialog</button></div>
                        <h4>Add Friends</h4>
                        <div><input type="text" id="friendUsername" /><button onclick="addFriend()">Add Friend</button></div>
                        <h4>Add Photo</h4>
                        <div>
                                 <input type="text" id="photoURL" />
                                 <button onclick="addPhoto()">Add Photos</button>
                        </div>
                    </div>
                    <script>
                        $("#fbactions").accordion();
                    </script>
                </div>
            </li>
            <li class="widget color-orange">  
                <div class="widget-head">
                    <h3>Stock Watch</h3>
                </div>
                    <div id="stocks">
                        <form id="symbolSearch">
                            <input id="ticker" name="ticker" type="text" placeholder="Stock Symbol" /><button type="submit">Search</button>
                        </form>
                        <div id="searchResults"></div>
                        <script>
                            $("#symbolSearch").submit(function () {
                                var ticker = $("#ticker").val();
                                console.log(ticker);
                                $.get("/PortalFace/StockInfo", { stockSymbol: ticker })
                                    .done(function (data) {
                                        $("#searchResults").html(data);
                                        $("#ticker").val("");
                                    });
                                return false;
                            });
                        </script>
                    </div>
            </li>
            
        </ul>

        <ul id="column2" class="column">
            <li class="widget color-blue">  
                <div class="widget-head">
                    <h3>Post to Facebook</h3>
                </div>
                <div class="widget-content" id="status">

                        
                </div>
            </li>
            <li class="widget color-yellow">
                <div class="widget-head">
                    <h3>News Feed</h3>
                </div>
                <div id="newsfeed"></div>
            </li>
            
        </ul>
        
        <ul id="column3" class="column">
            <li class="widget color-green">  
                <div class="widget-head">
                    <h3>Schedule</h3>
                </div>
                
                    <div id="events" >
                        <p>
                        <a href = "/Home/CalendarPage" class="widget-content-link">
                            <i class="icon-calendar"></i>  You have no events, take the day off!
                        </a>
                        </p>
                    </div>
            </li>
            <li class="widget color-red">  
                <div class="widget-head">
                    <h3>Global Chat</h3>
                </div>
                <div class="widget-content" id="chat">
                    <!-- Check out the LoadMainContent.js Script -->
                </div>
            </li>
            <li>
                <center>
                <img src="/Content/PortalFace/img/Logo.png" height="300px" />
                </center>
            </li>
            
        </ul>
        
    </div>
    
    
        <script type="text/javascript" src="/Scripts/widget_functionality.js"></script>

}
