@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main Page";
}

@section body {
    
    <script>
        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));

        window.fbAsyncInit = function () {
            FB.init({
                appId: '393153644124938', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // Additional initialization code here
            FB.Event.subscribe('auth.authResponseChange', function (response) {
                if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token 
                    var uid = response.authResponse.userID;
                    var accessToken = response.authResponse.accessToken;

                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook, 
                    // but has not authenticated your app
                } else {
                    // the user isn't logged in to Facebook.
                }
            });
        };

        function addFriend(ID) {
            FB.ui({ method: 'friends.add', id: ID });
        }
    </script>
    <!-- Look into using a more recent jQuery -->
    <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"></script>
    @Scripts.Render("~/Scripts/jquery-ui-personalized-1.6rc2.min.js", "~/Scripts/widget_functionality.js", "~/Scripts/LoadMainContent.js")

    <div id="columns">
        
        <ul id="column1" class="column">
            <li class="widget color-purple" >
                <div class="widget-head">
                    <h3>Facebook Actions</h3>
                </div>
                <div class="widget-content">
                    <ul id="fbactions">
                        <h3>Welcome back @ViewBag.Name</h3>
                        <li><a href="#">Message Friends</a></li>
                        <li><a href="#">Search Friends</a></li>
                        <li><a href="#" onclick="addFriend('662071635')">Add Friends</a></li>
                        <li><a href="#">Add Photos</a></li>
                    </ul>
                </div>
            </li>
            <li class="widget color-yellow">  
                <div class="widget-head">
                    <h3>News Feed</h3>
                </div>
                <div id="newsfeed" class="widget-content">
                    <img src="/Content/PortalFace/img/newsfeed.jpg"
                </div>
            </li>
            
        </ul>

        <ul id="column2" class="column">
            <li class="widget color-blue">  
                <div class="widget-head">
                    <h3>Post to Facebook</h3>
                </div>
                
                <div class="widget-content" id="status">

                        
                </div>
            </li>
            <li class="widget color-orange">  
                <div class="widget-head">
                    <h3>Stock Watch</h3>
                </div>
                <a href = "/Home/StockPage" class="widget-content-link">
                    <div id="stocks">
                        <ul>
                            <li><pre><font color=black>AAPL:US    443.66  +11.16</font></pre></li>
                            <li><pre><font color=black>TSLA:US     35.29   -1.56</font></pre></li>
                            <li><pre><font color=black>GOOG:US    814.30   -7.23</font></pre></li>
                            <li><pre><font color=black>MSFT:US     28.04   -0.1 </font></pre></li>
                            <li><pre><font color=black>  FB:US     26.65   -0.40</font></pre></li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
        
        <ul id="column3" class="column">
            <li class="widget color-green">  
                <div class="widget-head">
                    <h3>Schedule</h3>
                </div>
                <a href = "/Home/CalendarPage" class="widget-content-link">
                    <div id="events" >
                        <p><i class="icon-calendar"></i>  You have no events, take the day off!</p>
                    </div>
                </a>
            </li>
            <li class="widget color-red">  
                <div class="widget-head">
                    <h3>Global Chat</h3>
                </div>
                <div class="widget-content" id="chat">
                    <!-- Check out the LoadMainContent.js Script -->
                </div>
            </li>
            
        </ul>
        
    </div>
    
    
    

}
