@{
    Layout = null;
}

<li>
    <div> 
        <br /> 
        <table width="100%">
        <tr>
            <td class="newsitem"> 
                <!--<h3 class="newsitem">@ViewBag.title</h3>   Took this out, no need to say the person's name twice   -->
                <br />
                @ViewBag.content
            </td>

        
        @if (@ViewBag.picture != null)
        {
            <td>
                <img class="statusPic" src="@ViewBag.picture"  />
            </td>
        }
        
        </tr>
        </table>
        <br />
    </div>
</li>

