@{
    Layout = null;
}

<li>
    <div class="newsitem">    
        <table width="100%">
        <tr>
            <td>
                <h3>@ViewBag.title</h3>
                <br />
                @ViewBag.content
            </td>

        
        @if (@ViewBag.picture != null)
        {
            <td>
                <img class="statusPic" src="@ViewBag.picture"  />
            </td>
        }
        
        </tr>
        </table>
        <br />
    </div>
</li>

