@{
    Layout = null;
}


<div class="widget-content">
    <button onclick="getNewsFeed()">Load Feed</button>
    <div id="feed">hi</div>
</div>

<script>
    function getNewsFeed() {
            console.log("fuck me");
            FB.api('/me/feed',
                 function (response) {
                     //alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
                     $("#feed").html(JSON.stringify(response));
                     var dataArray = response['data'];

                     for (var i = 0; i < dataArray.length; i++) {
                         console.log(JSON.stringify(dataArray[i]));
                     }
                 });
        }
</script>