@{
    Layout = null;
}

<form id="statusPost" action="">
    <input id="statusMessage" type="text" name="status" /><button type="submit" class="postStatus" id="postStatus">Submit</button>
</form>


<script>
    $("#statusPost").submit(function () {
        var statusMessage = $("#statusMessage").val();
        console.log(statusMessage);
        
        // post to server
        $.ajax({
            url: '/PortalFace/PostStatus/status',
            type: 'POST',
            data: { status: statusMessage },
            success: function (response) {
                alert("SUCCESS");
            }
        });
        $("#statusMessage").val('');
        return false;
    });
</script>