@{
    Layout = null;
}

<input id="statusMessage" type="text" name="status"><i class="icon-camera"></i><button class="postStatus" id="postStatus">Submit</button>



<script>
    $("#postStatus").click(function () {
        var statusMessage = $("#statusMessage").val();
        console.log(statusMessage);
        FB.api(
            '/me/feed',
            'post',
            { message: statusMessage },
            function (response) {
                //alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            }
            );
        $("#statusMessage").val('');
        return false;
    });
</script>